<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.manager.mapper.BizSceneRouteMapper">

    <select id="selectSceneRouteList" resultType="org.dromara.manager.domain.vo.BizSceneRouteVo">
        select r.route_id,
               r.tree_id,
               r.category_node_id,
               n.node_name as category_node_name,
               r.route_name,
               r.gcj02_path,
               r.bd09_path,
               r.wgs84_path,
               r.stroke_color,
               r.stroke_style,
               r.stroke_weight,
               r.status,
               r.create_time,
               r.remark
        from biz_scene_route r
            left join biz_tree_node n on n.node_id = r.category_node_id and n.del_flag = '0'
        <where>
            r.del_flag = '0'
            <if test="bo.routeName != null and bo.routeName != ''">
                and r.route_name like concat('%', #{bo.routeName}, '%')
            </if>
            <if test="bo.treeId != null">
                and r.tree_id = #{bo.treeId}
            </if>
            <if test="bo.categoryNodeId != null">
                and r.category_node_id = #{bo.categoryNodeId}
            </if>
            <if test="bo.status != null and bo.status != ''">
                and r.status = #{bo.status}
            </if>
        </where>
        order by r.create_time desc, r.route_id desc
    </select>

    <select id="selectSceneRoutePage" resultType="org.dromara.manager.domain.vo.BizSceneRouteVo">
        select r.route_id,
               r.tree_id,
               r.category_node_id,
               n.node_name as category_node_name,
               r.route_name,
               r.gcj02_path,
               r.bd09_path,
               r.wgs84_path,
               r.stroke_color,
               r.stroke_style,
               r.stroke_weight,
               r.status,
               r.create_time,
               r.remark
        from biz_scene_route r
            left join biz_tree_node n on n.node_id = r.category_node_id and n.del_flag = '0'
        <where>
            r.del_flag = '0'
            <if test="bo.routeName != null and bo.routeName != ''">
                and r.route_name like concat('%', #{bo.routeName}, '%')
            </if>
            <if test="bo.treeId != null">
                and r.tree_id = #{bo.treeId}
            </if>
            <if test="bo.categoryNodeId != null">
                and r.category_node_id = #{bo.categoryNodeId}
            </if>
            <if test="bo.status != null and bo.status != ''">
                and r.status = #{bo.status}
            </if>
        </where>
        order by r.create_time desc, r.route_id desc
    </select>

</mapper>
