<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.manager.mapper.BizSceneAreaMapper">

    <select id="selectSceneAreaList" resultType="org.dromara.manager.domain.vo.BizSceneAreaVo">
        select a.area_id,
               a.tree_id,
               a.category_node_id,
               n.node_name as category_node_name,
               a.area_name,
               a.area_type,
               a.gcj02_path,
               a.bd09_path,
               a.wgs84_path,
               a.fill_color,
               a.stroke_color,
               a.stroke_style,
               a.stroke_weight,
               a.status,
               a.create_time,
               a.remark
        from biz_scene_area a
            left join biz_tree_node n on n.node_id = a.category_node_id and n.del_flag = '0'
        <where>
            a.del_flag = '0'
            <if test="bo.areaName != null and bo.areaName != ''">
                and a.area_name like concat('%', #{bo.areaName}, '%')
            </if>
            <if test="bo.areaType != null and bo.areaType != ''">
                and a.area_type = #{bo.areaType}
            </if>
            <if test="bo.treeId != null">
                and a.tree_id = #{bo.treeId}
            </if>
            <if test="bo.categoryNodeId != null">
                and a.category_node_id = #{bo.categoryNodeId}
            </if>
            <if test="bo.status != null and bo.status != ''">
                and a.status = #{bo.status}
            </if>
        </where>
        order by a.create_time desc, a.area_id desc
    </select>

    <select id="selectSceneAreaPage" resultType="org.dromara.manager.domain.vo.BizSceneAreaVo">
        select a.area_id,
               a.tree_id,
               a.category_node_id,
               n.node_name as category_node_name,
               a.area_name,
               a.area_type,
               a.gcj02_path,
               a.bd09_path,
               a.wgs84_path,
               a.fill_color,
               a.stroke_color,
               a.stroke_style,
               a.stroke_weight,
               a.status,
               a.create_time,
               a.remark
        from biz_scene_area a
            left join biz_tree_node n on n.node_id = a.category_node_id and n.del_flag = '0'
        <where>
            a.del_flag = '0'
            <if test="bo.areaName != null and bo.areaName != ''">
                and a.area_name like concat('%', #{bo.areaName}, '%')
            </if>
            <if test="bo.areaType != null and bo.areaType != ''">
                and a.area_type = #{bo.areaType}
            </if>
            <if test="bo.treeId != null">
                and a.tree_id = #{bo.treeId}
            </if>
            <if test="bo.categoryNodeId != null">
                and a.category_node_id = #{bo.categoryNodeId}
            </if>
            <if test="bo.status != null and bo.status != ''">
                and a.status = #{bo.status}
            </if>
        </where>
        order by a.create_time desc, a.area_id desc
    </select>

</mapper>
