<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.manager.mapper.BizVehicleEquipmentBindMapper">

    <select id="selectBindList" resultType="org.dromara.manager.domain.vo.BizVehicleEquipmentBindVo">
        select b.bind_id,
               b.vehicle_id,
               b.equipment_type,
               b.equipment_id,
               case when b.equipment_type = '1' then c.camera_code else r.radar_code end as equipment_code,
               case when b.equipment_type = '1' then c.camera_name else r.radar_name end as equipment_name,
               case when b.equipment_type = '1' then c.sn else r.sn end as sn,
               b.install_position,
               b.install_time,
               b.status,
               b.create_time,
               b.remark
        from biz_vehicle_equipment_bind b
            left join biz_camera c on b.equipment_type = '1' and c.camera_id = b.equipment_id and c.del_flag = '0'
            left join biz_radar r on b.equipment_type = '2' and r.radar_id = b.equipment_id and r.del_flag = '0'
        <where>
            b.del_flag = '0'
            <if test="vehicleId != null">
                and b.vehicle_id = #{vehicleId}
            </if>
            <if test="equipmentType != null and equipmentType != ''">
                and b.equipment_type = #{equipmentType}
            </if>
        </where>
        order by b.create_time desc, b.bind_id desc
    </select>

</mapper>
