<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.admin.mapper.UserInfoMapper">

    <resultMap type="com.project.admin.domain.UserInfo" id="UserInfoResult">
    <result property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="nick" column="nick"/>
    <result property="phone" column="phone"/>
    <result property="avatar" column="avatar"/>
    <result property="effectCount" column="effect_count"/>
    <result property="visitorCount" column="visitor_count"/>
    <result property="company" column="company"/>
    <result property="position" column="position"/>
    <result property="selfIntroduction" column="self_introduction"/>
    <result property="careerDirection" column="career_direction"/>
    <result property="location" column="location"/>
    <result property="hometown" column="hometown"/>
    <result property="constellation" column="constellation"/>
    <result property="email" column="email"/>
    <result property="searchValue" column="search_value"/>
    <result property="deleted" column="deleted"/>
    <result property="createTime" column="create_time"/>
    <result property="createBy" column="create_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="updateBy" column="update_by"/>
    </resultMap>


</mapper>
