<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.admin.contact.mapper.UserCommunicationMessageMapper">

    <resultMap type="com.project.admin.contact.domain.UserCommunicationMessage" id="UserCommunicationMessageResult">
    <result property="deleted" column="deleted"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
    <result property="id" column="id"/>
    <result property="userInfoId" column="user_info_id"/>
    <result property="contactInfoId" column="contact_info_id"/>
    <result property="messageContent" column="message_content"/>
    </resultMap>

</mapper>
