<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.admin.mapper.WalletMapper">

    <resultMap type="com.project.admin.domain.Wallet" id="WalletResult">
    <result property="id" column="id"/>
    <result property="userId" column="user_id"/>
    <result property="balance" column="balance"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
    <result property="deleted" column="deleted"/>
    <result property="updateBy" column="update_by"/>
    <result property="createBy" column="create_by"/>
    <result property="searchValue" column="search_value"/>
    </resultMap>


</mapper>
