<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.commodity.mapper.OrderDetailMapper">

    <resultMap type="com.project.commodity.domain.OrderDetail" id="OrderDetailResult">
    <result property="id" column="id"/>
    <result property="orderId" column="order_id"/>
    <result property="orderNum" column="order_num"/>
    <result property="productId" column="product_id"/>
    <result property="productPic" column="product_pic"/>
    <result property="productName" column="product_name"/>
    <result property="productPrice" column="product_price"/>
    <result property="productQuantity" column="product_quantity"/>
    <result property="productCategoryId" column="product_category_id"/>
    <result property="totalPrice" column="total_price"/>
    <result property="deleted" column="deleted"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
